<div class="modal fade" id="createVolModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">云硬盘创建</h4>
            </div>
            <div class="modal-body">
                <form action="create/acc/" class="sub" method="POST">
                    <div>
                        <span>名称：</span>
                        <input type="text" id="volume_name_create" name="volume_name_create" required="" placeholder="云盘名称"/>
                        <label id="message_volume_name" style="color: red"></label>
                    </div>
                    <div class="demo">
                        <span>容量(GB)：</span>
                        <br>
                        <br>
                        <br>
                        <input type="hidden" class="single-slider" value="1" name="getSize" id="getSize"/>
                    </div>
                    <br>
                    <br>
                    <div class="demo">
                        <span>描述：</span>
                        <textarea name="description" cols="40" id="id_description" maxlength="255" name="description" rows="4"></textarea>
                    </div>
                     <div class="demo_one">
                        <span>产业集团：</span>
                        <select id="group" name="group" style="width: 100px">
                            {% for g in metering_group %}
                                <option value="{{ g.group_name }}">{{ g.group_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="demo_two">
                       <input type="radio" name="type" value="experiment" checked >实验
                        <input type="radio" name="type" value="test" disabled="disabled">测试
                    </div>
                    <div class="demo_two">
                        <button id="g1" class="btn btn-primary btn-sm">创建</button>
                    </div>
                </form>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
</div>

{% block page_script %}
    <style type="text/css">
        .demo{width:700px; margin:20px auto 10px auto}
        .demo_one{width:700px; height:100px; margin:20px auto 10px auto}
        .demo_two{width:700px; margin:10px auto 10px auto}
        #g1{margin-top:50px}
    </style>
    <script type="text/javascript" src="/static/js/range/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/range/jquery.range.css">
    <script src="/static/js/range/jquery.range.js"></script>
    <script src="/static/js/volume/volume.js"></script>
{% endblock %}