{% extends "base.html" %}

{% block page_title %}
<title> 404 | ERROR </title>
{% endblock %}


{% block content_title %}
    ERROR
    <small>404</small>
{% endblock %}

{% block page_content %}

    <div class="error-page">
        <h2 class="headline text-info"> 404</h2>
        <div class="error-content">
            <h2><i class="fa fa-warning text-yellow"></i>Page not found.</h2>
            <p>
                <h3>Sorry,we could not find the page you were looking for.</h3>
            </p>
        </div><!-- /.error-content -->
    </div><!-- /.error-page -->

{% endblock %}